.futurecaster-button,
.futurecaster-button:focus {
    background: linear-gradient(45deg, #7c7a7e, #0000);
    border: 2px solid #444343;
    border-radius: 0.5rem;
    margin: auto;
    outline: none;
    padding: 0.5rem;
}

.futurecaster-button:hover {
    @apply bg-gray-100;
}

.futurecaster-column {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 88px);
    justify-content: center;
}

.futurecaster-row {
    display: flex;
}
