.futurecaster-button,
.futurecaster-button:focus {
    background: #fff;
    border: 2px solid #444343;
    border-radius: 0.5rem;
    margin: auto;
    outline: none;
    padding: 0.5rem;
}

.futurecaster-button:hover {
    @apply bg-gray-100;
}

.futurecaster-column {
    display: flex;
    flex-direction: column;
    height: calc(50vh - 61px);
    justify-content: center;

    @screen md {
        height: calc(100vh - 88px);
    }
}

.futurecaster-column.hidden-until-medium {
    display: none;

    @screen md {
        display: flex;
    }
}

.futurecaster-column.hidden-on-medium {
    display: flex;

    @screen md {
        display: none;
    }
}

.futurecaster-row {
    display: flex;
}
